{% extends 'base.html'%}
{% load static %}

{% block content %}
  <h1> Список работников </h1>
  <table>
    <tr>
      <th>#</th>
      <th>Имя</th>
      <th>Команда</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </tr>
    {% for worker in workers_list %}
      <tr>
        <td>{{ worker.pk }}</td>
        <td>{{ worker.name }}</td>
        <td>{{ worker.team }}</td>
        <td><a href="{% url 'update_worker' worker.pk %}">Изменить</a></td>
        <td><a href="{% url 'delete_worker' worker.pk %}">Удалить</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
